extends layout

block content
    section.hero.table.table--fullsize
        .table__cell
            .hero__content
                h1.text__mainTitle.separator__after Grilovací centrum
                h2.text__subtitle.text--white SiliconHill
    section.content
        .container__md
            .box
                .box__header.box__header--border
                    h2.text__title Kalendář rezervací
                .box__body
                    .calendar
                        script#calendar-template(type="text/template").
                            <div class="calendar__controls text--center">
                                <button class="calendar__prev text__paragraph" type="button">&lsaquo;</button>
                                <div class="calendar__current text__paragraph"><%= this.month.format('MMMM YYYY') %></div>
                                <button class="calendar__next text__paragraph" type="button">&rsaquo;</button>
                            </div>
                            <div class="calendar__grid">
                                <div class="calendar__daysWeek text--center clearfix">
                                    <% _.each(daysOfTheWeek, function(day) { %>
                                        <div class="calendar__cell day__header"><%= day %></div>
                                    <% }); %>
                                </div>
                                <div class="calendar__days clearfix">
                                <% _.each(days, function(day) { %>
                                    <div class="calendar__cell <%= day.classes %>">
                                        <div class="day__num"><%= day.day %></div>
                                        <% if (day.events.length) { %>
                                            <div class="day__event <%= day.events[0].state %>">
                                            <% if (day.events[0].name.length > 20) { %>
                                                <%= day.events[0].name.substr(0, 20) %>…
                                            <% } else { %>
                                                <%= day.events[0].name %>
                                            <% } %>
                                            </div>
                                        <% } %>
                                    </div>
                                <% }); %>
                                </div>
                            </div>
                            <button class="calendar__today text__paragraph text--center" type="button">Dnes</button>
            .box
                .box__header.box__header--border
                    h2.text__title Nová rezervace
                .box__body
                    form#create-reservation.form.form__reservation(method='POST', action='/api/reservation/create')
                        .fieldset.row
                            .field__container.col-xs-12.col-md-6.field__checkbox
                                span.checkbox
                                    input#separateGrill(type='checkbox', name='separateGrill')
                                label.t__label(for='separateGrill') Pouze separátní gril
                        .fieldset.row
                            if reservationLength === 1
                                .field__container.col-xs-12.col-md-6.margin--top-20
                                    label.text__label(for='date') Datum
                                    .field
                                        input#date(type='text', name='date', required)
                            else
                                .field__container.col-xs-12.col-md-6.margin--top-20
                                    label.text__label(for='date') Od
                                    .field
                                        input#date(type='text', name='date', required)
                                .field__container.col-xs-12.col-md-6.margin--top-20
                                    label.text__label(for='date-to') Do
                                    .field
                                        input#date-to(type='text', name='date-to', required)
                            .field__container.col-xs-12.col-md-6.margin--top-20
                                label.text__label(for='pickup') Vyzvednutí
                                .field
                                    input#pickup(type='text', name='pickup', required)
                        if accessories.length > 0
                            .fieldset.accessories
                                h3.text__subtitle.text--default Příslušenství
                                each accessory, index in accessories
                                    if accessory.available
                                        .field__checkbox
                                            span.checkbox
                                                input(id='accessory-#{index}', type='checkbox', name='accessory[]', value= accessory.id)
                                            label.t__label(for='accessory-#{index}')= accessory.name
                        .form__footer.text--center.margin--top-45
                            button.btn.btn__orange(type='submit') Vytvořit

block scripts
    script.
        var reservations = {},
            users = {},
            loadedMonths = {};

        function loadReservations(calendar) {
            var tmp = calendar.month.clone();
            var date = tmp.add(tmp.local().utcOffset(), 'm'),
                startInterval = date.utc().subtract(1, 'M').format(),
                endInterval = date.utc().add(3, 'M').subtract(1, 'd').format(),
                month = date.subtract(1, 'M').month();

            if (!(month in loadedMonths)) {
                var $spinner = $('<div class="spinner--absolute"></div>');
                $spinner.append(getSpinner());
                $('.calendar').prepend($spinner);
            }

            var data = {
                from: encodeURIComponent(startInterval),
                to: encodeURIComponent(endInterval)
            };

            makeRequest('/api/reservation', 'GET', data, function(res) {
                console.log(res);
                var reservationsObj = res.reservations,
                    usersObj = res.users,
                    reservationsArr = [];
                for (var i in usersObj) {
                    if (i in users) {
                        continue;
                    }
                    users[i] = usersObj[i];
                }
                for (var i = 0; i < reservationsObj.length; i++) {
                    if (reservationsObj[i].id in reservations || ['confirmed', 'finished'].indexOf(reservationsObj[i].state) === -1) {
                        continue;
                    }
                    reservationsObj[i].from = moment(reservationsObj[i].from).add(calendar.month.local().utcOffset(), 'm').format();
                    reservationsObj[i].to = moment(reservationsObj[i].to).subtract(calendar.month.local().utcOffset(), 'm').format();
                    reservationsObj[i].name = users[reservationsObj[i].userId].fullName;
                    reservations[reservationsObj[i].id] = reservationsObj[i];
                    reservationsArr.push(reservationsObj[i]);
                }
                loadedMonths[month] = true;
                loadedMonths[moment(startInterval).month()] = true;
                loadedMonths[moment(endInterval).month()] = true;
                calendar.addEvents(reservationsArr);
            });
        }

        $(document).ready(function() {

            var $date, date, dateTo = null;

            if (#{reservationLength} > 1) {
                var $dateTo = $('#date-to').pickadate({
                    min: true,
                    max: #{reservationUpfront},
                    onSet: function(event) {
                        if (event.select) {
                            var dat = new Date(event.select),
                                MS_PER_DAY = 1000 * 60 * 60 * 24,
                                today = new Date();
                            today = today.setHours(0, 0, 0, 0);
                            today = new Date(today).getTime();
                            date.set('max', dat);
                            dat = event.select - #{reservationUpfront} * MS_PER_DAY <= today ? true : new Date(event.select);
                            date.set('min', dat);
                        } else if ('clear' in event) {
                            date.set('min', true);
                            date.set('max', #{reservationUpfront});
                        }
                    }
                });
                dateTo = $dateTo.pickadate('picker');

                $dateTo.on('change', function() {
                    $dateTo.valid();
                });

                $date = $('#date').pickadate({
                    onSet: function(event) {
                        if (event.select) {
                            var dat = new Date(event.select),
                                MS_PER_DAY = 1000 * 60 * 60 * 24,
                                today = new Date();
                            today = today.setHours(0, 0, 0, 0);
                            today = new Date(today).getTime();
                            dateTo.set('min', dat);
                            dat = event.select + (#{reservationLength} - 1) * MS_PER_DAY >= today + #{reservationUpfront} * MS_PER_DAY ? today + #{reservationUpfront} * MS_PER_DAY : event.select + (#{reservationLength} - 1) * MS_PER_DAY;
                            dat = new Date(dat);
                            dateTo.set('max', dat);
                        } else if ('clear' in event) {
                            dateTo.set('min', true);
                            dateTo.set('max', #{reservationUpfront});
                        }
                    }
                });
            } else {
                $date = $('#date').pickadate();
            }
            
            date = $date.pickadate('picker');
            date.set({
                min: true,
                max: #{reservationUpfront}
            });

            var $pickup = $('#pickup').pickatime({
                format: 'HH:i',
                min: [Math.floor(#{keyPickupFrom} / 60), #{keyPickupFrom} % 60],
                max: [Math.floor(#{keyPickupTo} / 60), #{keyPickupTo} % 60],
                interval: #{keyPickupInterval}
            });

            /* / syntax highlight fix */

            pickup = $pickup.pickatime('picker');

            $date.on('change', function() {
                $date.valid();
            });

            $pickup.on('change', function() {
                $pickup.valid();
            });

            moment.locale('cs');
            var calendar = $('.calendar').clndr({
                multiDayEvents: {
                    endDate: 'to',
                    startDate: 'from'
                },
                targets: {
                    day: 'day',
                    empty: 'empty',
                    nextButton: 'calendar__next',
                    todayButton: 'calendar__today',
                    previousButton: 'calendar__prev'
                },
                clickEvents: {
                    click: function (target) {
                        if (target.events.length) {

                        } else {
                            date.set('select', new Date(target.date.format()));
                        }
                    },
                    nextInterval: function () {
                        console.log('Calendar next interval');
                    },
                    previousInterval: function () {
                        console.log('Calendar previous interval');
                    },
                    onIntervalChange: function () {
                        console.log('Calendar interval changed');
                    },
                    onMonthChange: function() {
                        console.log('Calendar month changed');
                        loadReservations(this);
                    }
                },
                doneRendering: function() {
                    console.log('Calendar done rendering');
                    if ($('.calendar .spinner--absolute').length) {
                        $('.calendar .spinner--absolute').remove();
                    }
                },
                template: $('#calendar-template').html(),
                showAdjacentMonths: true,
                adjacentDaysChangeMonth: true
            });

            loadReservations(calendar);

            $('#separateGrill').on('change', function() {
                var $this = $(this);
                if ($('.accessories').length === 0) {
                    return;
                }
                if ($this.prop('checked')) {
                    $('.accessories').velocity('slideUp');
                } else {
                    $('.accessories').velocity('slideDown');
                }
            });

            $('#create-reservation').validate({
                rules: {
                    date: {
                        required: true
                    },
                    'date-to': {
                        required: function() {
                            return $('#date-to').length > 0 ? true: false;
                        }
                    },
                    pickup: {
                        required: true
                    }
                },
                errorPlacement: function() {
                    return false;
                },
                highlight: function(element, errorClass, validClass) {
                    $(element).parent().addClass('error');
                },
                unhighlight: function(element, errorClass, validClass) {
                    $(element).parent().removeClass('error');
                },
                submitHandler: function(form) {
                    var data = {};
                    if ($('#separateGrill').prop('checked')) {
                        data.separateGrill = true;
                    } else {
                        data.accessories = [];
                        $('[name="accessory[]"]:checked').each(function(i, element) {
                            data.accessories.push($(element).val());
                        });
                    }
                    var start = $('[name="date"]').pickadate('picker').get('select').pick,
                        end;
                    start = moment(new Date(start)).add(moment().utcOffset(), 'm').utc().format().replace(/\+00:00/, 'Z');
                    end = start;

                    if (#{reservationLength} > 1) {
                        end = $('[name="date-to"]').pickadate('picker').get('select').pick;
                        end = moment(new Date(end)).add(moment().utcOffset(), 'm').utc().format().replace(/\+00:00/, 'Z');
                    }
                    data.from = start;
                    data.to = end;
                    data.pickup = $('#pickup').pickatime('picker').get('select').pick;
                    
                    console.log(data);
                    var url = $(form).attr('action'),
                        method = $(form).attr('method');
                    makeRequest(url, method, data, function(res) {
                        console.log(res);
                        date.clear();
                        $date.parent().removeClass('error');
                        pickup.clear();
                        $pickup.parent().removeClass('error');
                        if (dateTo) {
                            dateTo.clear();
                            $dateTo.parent().removeClass('error');
                        }
                        if ($('#separateGrill').prop('checked')) {
                            $('#separateGrill').trigger('click');
                        }
                        $('.accessories input[type="checkbox"]').each(function(i, element) {
                            if ($(element).prop('checked')) {
                                $(element).trigger('click');
                            }
                        });
                        addNotification('success', 'Pre-reservation successfully created.');
                    }, function(res) {
                        console.log(res);
                        var msg = res.responseJSON.error.message;
                        if (res.responseJSON.error.type === 'MaxReservationLength') {
                            msg += ' (maximum is #{reservationLength} ';
                            msg += #{reservationLength} > 1 ? 'days)' : 'day)';
                        } else if (res.responseJSON.error.type === 'MaxReservationUpfront') {
                            msg += ' (maximum is #{reservationUpfront} ';
                            msg += #{reservationUpfront} > 1 ? 'days)' : 'day)';
                        }
                        addNotification('error', msg);
                    });
                }
            });

        });
